/*******************************
Version : 1.0.0.0
Revised : vendredi 17 novembre 2017, 12:51:48 (UTC+0100)
*******************************/

/*body {
	font-family: 'Lato', 'Lato_fallback', serif;
	font-size:15px;
	font-weight: 400;
}

 header 
.header {
  background: #555;
  color: #f1f1f1;
  z-index: 5;
}
.sticky {
  position: fixed;
  top: 0;

*/




/* Nav Bar */

/* content */

/* footer */

/* Generic */

@font-face {
	font-family: 'Lato_fallback';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
		 url('../fonts/lato-regular-webfont.woff') format('woff');
}

/* Print */

/*@media print {
    .container { max-width: none }

    footer {
        display: none;
    }
}*/